.text-center { 
    text-align: center;
}
.top-image {
    text-align: center;
}

.top-image {
    border-color: rgb(63, 6, 75) !important;
}
h2 {
    color:rgb(63, 6, 75);

}
.top-hero {
    background: rgba(78, 16, 84, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(78, 16, 84, 0.47);
}

header img {
    border: 10px double rgb(63, 6, 75);
    transition: 1s;
}

header img:hover {
    border-color: black;
}
a {
    color:black;
    transition: 1s;
}

a:hover {
    color:rgb(63, 6, 75)
}

.tags span {
    border: 1px solid rgb(63, 6, 75);
    padding: 5px 10px;
    color:rgb(63, 6, 75);
    border-radius: 8px;
    font-size: 0.8rem
}

.top-container {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

